{% extends 'layouts/base.html' %}

{% block content %}
    <h2>acerca de nosotros</h2>
    <p style="color: brown;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, corporis nobis distinctio praesentium nesciunt eveniet molestiae, fuga atque illum sint voluptas est, quas ex odit necessitatibus quis cupiditate at maiores! Omnis delectus autem consequuntur tenetur possimus provident harum ab assumenda quia. Accusamus labore iure non, sequi eveniet consectetur ab unde harum, error velit reiciendis odio inventore dicta eos in vitae fuga molestias illo commodi! Cumque quam esse dolorem omnis doloribus alias saepe, eligendi veniam nesciunt, error maiores, vitae inventore! Nostrum ducimus quo reprehenderit? Cumque consequuntur tenetur incidunt accusantium! Magnam molestiae a distinctio earum est? Atque praesentium dolores dicta animi dolor.</p>
{% endblock %}