<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to Django myapp. ..!!!! </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolor sapiente culpa mollitia voluptates enim atque laudantium reprehenderit voluptatum. Aliquid, accusantium. Quod quibusdam culpa molestiae velit laboriosam, iste similique odio.</p>

    
</body>
</html>